<style type="text/css">
    .scoped-css-override {
        font-size: 30px;
        background-color: green
    }
</style>

<h3>L06_ScopedCss_Child</h3>


<div class="scoped-css-override">
    样式来自重写，重写前是绿色，重写后是灰色
</div>