@page "/l14/user"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@using System.Security.Claims

@attribute [Authorize]

<h3>L14_UserClaims</h3>

@if(AuthenticationState is null )
{
    <div>AuthenticationState 未注入</div>
}
else
{
    AuthenticationState state = AuthenticationState.GetAwaiter().GetResult();
    if ( state.User.Identity?.IsAuthenticated == true )
    {
        foreach ( Claim item in state.User.Claims )
        {
            <div>
                <label>
                    <span>@item.Type</span>
                    <span> = </span>
                    <span>@item.Value</span>
                </label>
            </div>
        }
    }
}

@code {

    [CascadingParameter]
    public Task<AuthenticationState>? AuthenticationState { get; set; }

}
