@page "/l02/interactive/cascadingValue"


<h3>L02_CascadingValue</h3>

<p>
@Message    
</p>

<div>
    <p>子组件</p>
    <CascadingValue Value="Message">
        <L02_CascadingValue_Parent />
    </CascadingValue>
</div>