@page "/l01/component/life-cycle/wasm-render"
@rendermode @(new InteractiveWebAssemblyRenderMode(prerender:true))

<h3>L01_Component_Lifecycle_On_WASM</h3>

<div>
    <span>渲染顺序输出</span>
</div>
@foreach ( string stage in _stages )
{
    <li><span>@stage</span></li>
}