@page "/l07/slot"

<h3>L07_Slot_Index</h3>

<L07_Slot_Component>
    <BasicInfo>我是基础信息</BasicInfo>
</L07_Slot_Component>

<L07_Slot_Component>
    <BasicInfo>我是基础信息，我会重写特殊信息</BasicInfo>
    <SpecialInfo>我是重写后的特殊信息</SpecialInfo>
</L07_Slot_Component>

<L07_Slot_SingleSlotComponent>我是内容</L07_Slot_SingleSlotComponent>